/*****************************/

/*    #Normalize Section   */

/*****************************/


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%
}


body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-weight: 300;
    line-height: 1.5
}


/*****************************/

/*    #Header Section   */

/*****************************/

.icon-section__wrapper {
    text-align: center;
    max-width: 100%;
    margin-left: 12rem;
    margin-right: 15rem;
    margin: 0 15rem 0 12rem;
}

.image-header__wrapper {
    padding-top: 3.5rem;
    margin-bottom: 3rem;
}

.header__copy {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 6%;
}

/*****************************/

/*    #Image Section   */

/*****************************/
.image__wrapper {
    margin: 0 auto;
    padding: 0 .75rem;
}

.image-items__wrapper {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding: 0 1rem;
}

.image-item__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
}

.image-item__header {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    padding-top:2rem;
}

.image-item__copy{
    font-size: 1.5rem;
    padding-top: 1.8rem;
}
.image__item{
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url("../images/sprite.svg");
}

.image__item-1 {
    width: 96px;
    height: 96px;
    background-position: -289px 0;
    background-size: cover;
}

.image__item-2 {
    width: 96px;
    height: 96px;
    background-position: -144px 0;
    background-size: cover;
}

.image__item-3 {
    width: 96px;
    height: 96px;
    background-position: 0 0;
    background-size: cover;
}

.image-item__header {
    font-family: 'Open Sans', sans-serif;
}

/*****************************/

/*    #Arrow Section   */

/*****************************/
.arrow__wrapper {
    background-image: url('../images/arrow-hiw.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 32px;
    position: relative;
    display: none;
}

.arrow__image-1 {
    position: absolute;
    top: 25%;
    left: -10%;
}

.arrow__image-2 {
    position: absolute;
}

/*****************************/

/*    #Media Query Section   */

/*****************************/

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    br.image-item__copy-desktop-break {
        display: none;
    }
    .image-item__copy {
        font-size: 1.25rem;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-width: 414px) and (max-width: 736px) {
    .icon-section__wrapper {
        text-align: center;
        max-width: 100%;
    }

    .arrow__wrapper {
        background-image: url('../images/arrow-hiw.svg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 40px;
        width: 32px;
        position: relative;
        display: block;
    }
    p.image-item__copy {
        display: none;
    }

    .icon-section__wrapper {
        text-align: center;
        max-width: 100%;
        background-color: #f1f1f1;
    }
    .image__item-1 {
        width: 64px;
        height: 64px;
        background-position: -192px 0;
        background-size: cover;
    }

    .image__item-2 {
        width: 64px;
        height: 64px;
        background-position: -96px 0;
        background-size: cover;
    }

    .image__item-3 {
        width: 64px;
        height: 64px;
        background-position: 0 0;
        background-size: cover;
    }

    .image__item-1::after{
        content: " ";
        position: absolute;
        left: 29%;
        height: 24px;
        width: 24px;
        background-position: 20%;
        background-image: url(../images/sprite.svg);
        background-repeat: no-repeat;
        top: 12%;
    }
    .image__item-2::after {
        content: " ";
        position: absolute;
        left: 62%;
        height: 24px;
        width: 24px;
        background-position: 20%;
        background-image: url(../images/sprite.svg);
        background-repeat: no-repeat;
        top: 12%;
    }
    .header__copy {
        margin-left: 0%;
    }
    .image-header__wrapper {
        padding-top: 2.1rem;
        margin-bottom: 1.1rem;
    }
    .image-items__wrapper {
        padding-bottom: 2.5rem;
    }
    .image-item__header {
        font-weight: 500;
        color: #666;
        padding-top: .5rem;
    }
   
}